@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* nav-related-styles */
.nav{
    display: flex;
    max-width: 1160;
    margin:auto 40px;
    justify-content: center;
    align-items: center;
    padding:;
}
.logo-school{
    display: flex;
}

.anchor{
    text-decoration: none;
    padding: 0 180px;

}
.home{
    padding-right: 32px;
    color: orange;
}
.about{
    padding-right: 32px;
    color: skyblue;
}
.facilities{
    padding-right: 32px;
    color: rgba(5, 212, 223, 1);
}
.admission{
    rgba(93, 88, 239, 1);
}
.btn-contact{
    font-display: white;
    border: 1px solid orange;
    background-color: orange;
    padding: 10px;
    border-radius: 12px;
}



/* banner related */
header{
    margin: 0;
}
.banner-card{
 background-image: url(/assets/bg.png);  
 display: flex;
 justify-items: center;
align-items: center;
margin: 60px 125px 80px 125px;
}


/* nav related styles */
@media screen and (max-width: 576px){
    .nav{
        display: block;
        text-align: center;
    }


    /* banner-related-styles */
    @media screen and (max-width: 576px) {
        .banner-card{
            flex-direction: column-reverse;
        }
    }